
@{
    ViewBag.Title = "CadastroFinalizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Site.css")

<h2>CadastroFinalizado</h2>
<h2>@ViewBag.aa</h2>
<h2>@ViewBag.bb</h2>


