
@{
    ViewBag.Title = "CarregarStatus";
    
}


<form class="form-inline" action="@Url.Action("AlterarStatus","Login")">

        @foreach (Projeto1.Models.ModPedido item in Model)
        {
            
            <div class="row">
                <div class="form-group">
                    <input type="hidden" name="codigoPedido" value="@item.codigoPedido">
                    <select name="status" id="lala" class="form-control">
                        <option value="@item.status">@item.status</option>

                        <option value="Aguardando">Aguardando</option>
                        <option value="Em analise">Em analise</option>
                        <option value="Entregue">Entregue</option>
                        <option value="Motoboy">Motoboy</option>
                    </select>
                   
                    <button name="xuxu" class="btn btn-primary">Buscar</button>


                </div>
                </div>

               


                }
   
</form>