@model List<Projeto1.Models.ModCidade>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <br />
<div>

    <style>
        #slide {
            border: solid;
            border-radius: 10px;   
        }
        #show {
              background-color: #c7e7f7;
        width: 2000px;
        height: 200px;
        top: 43%;
        margin: -130px 0 0 -210px;
        padding: 5px;
         border: 1px solid black;
        position: absolute;
        left:12%;
        
        border-radius: 12px;
        }

    </style>

    <br />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <div id="show"></div>
    <div  class="w3-content w3-display-container">

        <img class="mySlides" id="slide" src="~/Content/Imagens/cap.jpg" style="width:1000px; height:300px;">
        <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
           Novo conceito de praticidade
        </div>
        <img class="mySlides" id="slide" src="~/Content/Imagens/Vinho-e-queijo.jpg" style="width:1000px; height:300px;">
        <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
            Rapido e facil para você
        </div>
        <img class="mySlides" id="slide" src="~/Content/Imagens/cap2.jpg" style="width:1000px; height:300px;">
        <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
            Pelo mesmo preço!!!
        </div>


        
    </div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "block";
            setTimeout(carousel, 6000);
        }
    </script>


    <br />
    <style>
        #lala{
           background-color: #DCDCDC;
        width: 300px;
        height: 50px;
        top: 85%;
        margin: -130px 0 0 -210px;
        padding: 5px;
        position: absolute;
        left: 20%;
        border: 3px solid black;
        border-radius: 12px;
        }
    </style>
    <label id="lala">
        @Html.Action("ListarCidade", "Cidade")
    </label>
    <br />
    <br />
    <br />
    <img src="~/Content/Imagens/risos2.png">
   


   
    

    <style>
    #show2{
    background-color: #262525;
    width: 1920px;
    height: 25px;
    top: 118%;
    margin: -130px 0 0 -210px;
   
    border: 1px solid black;
    position: absolute;
    left:12%;
    color:white;
    border-radius: 12px;
    text-align:right;
    color:#c7e7f7;
    text-align:center;
    }
</style>
    <div id="show2">
        <div class="row">
            
            
                <div>
                    <span>© 2016 Data Sekker. Todos os direitos reservados - enzocarreri@hotmail.com</span>
                </div>
            </div>
        
    </div>
</div>